:root {
    --color-gradient: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
    --color-body:#ebecf9;
    --color-accent:#3b41c5;
    --color-transparant:rgb(59, 65, 197, .2);
    --color-white:white;

    --fcolor:black;
    --ffamily:'Spectral', serif;
}

*, 
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -12rem; 
    height: 12rem; 
    visibility: hidden; 
  }

body {
    font-family: var(--ffamily);
    font-size: 1rem;
    background-color: var(--color-body);
}

h1,
h2,
h3 {
    line-height: 1em;
    font-weight: 700;   
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1 {   
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text--center {
    text-align: center;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    background-color:var(--color-body);
    box-shadow: 1px 1px 5px var(--color-transparant);
}

.fluid {
    margin-inline: max(.6rem, 50% - 85rem/2);
}

.container {
    margin-inline: max(1rem, 50% - 60rem/2);
}

.header--section {
    margin-top: 1rem;
    display: grid;
    align-items: center;
}

.header-img {
    width: 70%;
    margin-inline: auto;
}

#nav-bar ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .3rem;
}

main {
    padding-top: 35vh;
}

.hero--section {
    text-align: center;
    max-width: 22rem;
    margin-inline: auto;
}

.form--item {
    display: grid;
    gap: .6rem;
    justify-items: center;
}

#email {
    width: 15em;
    font-size: 1.125rem;
    padding: .4rem;
}

#submit {
    font-size: inherit;
    padding: .5rem 1.5rem;
    background-color: var(--color-accent);
    color: white;
    border: 0;
}

#features,
#howitworks,
#pricing,
footer {
    margin-top: 3rem;
}

.features--section {
    display: grid;
    gap: 2rem;
}

.feature--item {
    display: flex;
}

#video {   
    max-width: 560px;
    width: 100%;
}

.pricing--section {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 3rem;
}

.pricing--item {
    border: 1px solid var(--color-accent);
    box-shadow: 1px 1px 5px var(--color-transparant);
    width: 250px;
    flex: 0 1 auto;
}

.pricing-item__title {
    padding: 1rem 0;
    background-color: var(--color-accent);
    color: var(--color-white);
}

.pricing-item__content {
    padding: 1rem 0;
    display: grid;
    justify-items: center;
    
    gap: 1rem;
}

.pricing-content__btn {
    background-color: var(--color-accent);
    padding: .5rem 1.5rem;
}

.pricing-content__btn a {
    color: var(--color-white);
}

footer {
    padding: 1rem;
    background-color: var(--color-transparant);
}

.footer {
    display: grid;
    justify-content: end;
}

.footer-link ul {
    display: flex;
    justify-content: end;
    gap: 1rem;
}


/* Media Desktop */
@media (min-width:37rem) {
    .header--section {
        grid-template-columns: repeat(2, 1fr);
    }

    #nav-bar {
        width: 100%;
        margin-inline: auto;
    }

    #header-img {
        margin-inline: 0px;
    }

    .feature--item {
        align-items: center;
    }

    .feature-item__icon {
        flex: 0 1 288px;
    }
    
    .feature-item__icon img {
        width: 30%;
        margin-inline: auto;
    }
    
    .feature-item__content {
        flex: 0 1 617px;
    }
}

/* Media Desktop too*/
@media (min-width:41rem) {
    #nav-bar ul {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* Media Tablet */
@media (min-width:37rem) and (max-width:41rem) {
    .header--section {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .pricing--section {
        flex-direction: column;
    }
}

/* Media Mobile */
@media (max-width:36.99rem) {
    .feature--item {
        flex-direction: column;
        gap: 1rem;
    }

    .feature-item__icon img {
        width: 20%;
        margin-inline: auto;
    }

    .feature-item__content {
        text-align: center;
    }

    .pricing--section {
        flex-direction: column;
    }
}